<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>WorkItem</title>
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" />
<link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">
<link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">
<link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet" />
<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/dist/js/sb-admin-2.js}"></script>
<script>
	$(document).ready(function() {
		$('#categoryDataTables').DataTable({
			responsive : true,
		});
		$('#categoryDetailDataTables').DataTable({
			responsive : true,
		});
	});

	/*****category tr operation*****/
	function showCategoryEditView(e) {
		$(".categoryEditView").hide();
		$(".categoryListView").show();
		var editRow = $(e).parent().parent();
		editRow.find(".categoryEditView").show();
		editRow.find(".categoryListView").hide();
	}

	function deleteCategory(e) {
		$(e).prop('disabled', true);
		var editRow = $(e).parent().parent();
		var editForm = document.forms["editCategoryForm"];
		// pkCategory
		var pkCategory = editRow.find(".editPkCategory").val();
		editForm.action = "/deleteCategory";
		editForm['pkCategory'].value = pkCategory;
		editForm.submit();
	}

	function submitCategoryEdit(e) {
		$(e).prop('disabled', true);

		var editRow = $(e).parent().parent();
		// pkCategory
		var pkCategory = editRow.find(".editPkCategory").val();
		//description
		var descriptionVal = editRow.find(".editDescription").val();
		var editForm = document.forms["editCategoryForm"];
		editForm['pkCategory'].value = pkCategory;
		editForm['description'].value = descriptionVal;
		editForm.submit();
	}

	function cancelCategoryEdit(e) {
		var editRow = $(e).parent().parent();
		editRow.find(".categoryEditView").hide();
		editRow.find(".categoryListView").show();
	}
	/*****category tr operation end*****/
	/*****categoryDetail tr operation*****/
	function showCategoryDetailEditView(e) {
		$(".categoryDetailEditView").hide();
		$(".categoryDetailListView").show();
		var editRow = $(e).parent().parent();
		editRow.find(".categoryDetailEditView").show();
		editRow.find(".categoryDetailListView").hide();
	}

	function deleteCategoryDetail(e) {
		$(e).prop('disabled', true);
		var editRow = $(e).parent().parent();
		var editForm = document.forms["editCategoryDetailForm"];
		// pkCategoryDetail
		var pkCategoryDetail = editRow.find(".editPkCategoryDetail").val();
		editForm.action = "/deleteCategoryDetail";
		editForm['pkCategoryDetail'].value = pkCategoryDetail;
		editForm.submit();
	}

	function submitCategoryDetailEdit(e) {
		$(e).prop('disabled', true);

		var editRow = $(e).parent().parent();
		var pkCategoryDetailVal = editRow.find(".editPkCategoryDetail").val();
		var pkCategoryVal = editRow.find(".editCategory").val();
		var descriptionVal = editRow.find(".editDescription").val();
		var editForm = document.forms["editCategoryDetailForm"];
		editForm['pkCategoryDetail'].value = pkCategoryDetailVal;
		editForm['category'].value = pkCategoryVal;
		editForm['description'].value = descriptionVal;
		editForm.submit();
	}

	function cancelCategoryDetailEdit(e) {
		var editRow = $(e).parent().parent();
		editRow.find(".categoryDetailEditView").hide();
		editRow.find(".categoryDetailListView").show();
	}
	/*****categoryDetail tr operation end*****/
</script>
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div th:replace="fragments/header :: header"></div>
			<div th:replace="fragments/sidebar :: sidebar"></div>
		</nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">分類管理</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="well">
						<form role="form" th:action="@{/addCategory}" th:object="${category}">
							<div class="row">
								<div class="form-group col-lg-9">
									<input class="form-control" th:field="*{description}" placeholder="請輸入欲新增的分類名稱">
								</div>
								<div class="form-group col-lg-3 text-right">
									<button type="submit" class="btn btn-default">送出</button>
									<button type="reset" class="btn btn-default">重設</button>
								</div>
								<br>
								<ul th:if="${not #lists.isEmpty(errorMsg)}">
									<li style="color: red" th:each="err:${errorMsg}" th:text="${err}">Input is incorrect</li>
								</ul>
							</div>
						</form>
						<form role="form" th:action="@{/addCategoryDetail}" th:object="${categoryDetail}">
							<div class="row">
								<div class="form-group col-lg-4">
									<select class="form-control" th:field="*{category}">
										<option th:each="category:${categoryList}" th:value="${category.pkCategory}" th:text="${category.description}"></option>
									</select>
								</div>
								<div class="form-group col-lg-5">
									<input class="form-control" th:field="*{description}" placeholder="請輸入欲新增的分類細項名稱">
								</div>
								<div class="form-group col-lg-3 text-right">
									<button type="submit" class="btn btn-default">送出</button>
									<button type="reset" class="btn btn-default">重設</button>
								</div>
								<br>
								<ul th:if="${not #lists.isEmpty(errorMsg)}">
									<li style="color: red" th:each="err:${errorMsg}" th:text="${err}">Input is incorrect</li>
								</ul>
							</div>
						</form>
					</div>
					<!-- 修改category -->
					<table width="100%" class="table table-striped table-bordered table-hover" id="categoryDataTables">
						<thead>
							<tr>
								<th>項次</th>
								<th>分類</th>
								<th>操作</th>
								<th style="display: none"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="category,categoryStat:${categoryList}">
								<tr>
									<td th:text="${categoryStat.index}+1"></td>
									<td class="categoryListView" th:text="${category.description}"></td>
									<td class="categoryEditView" style="display: none">
										<input class="editDescription" th:value="${category.description}">
									</td>
									<td>
										<input class="editPkCategory" th:value="${category.pkCategory}" style="display: none">
										<button class="categoryListView" type="button" onclick="showCategoryEditView(this)">
											<i class="fa fa-edit"></i>
										</button>
										<button class="categoryListView" type="button" onclick="deleteCategory(this)">
											<i class="fa fa-trash"></i>
										</button>
										<button class="categoryEditView" type="button" onclick="submitCategoryEdit(this)" style="display: none">
											<i class="fa fa-check-circle" style="color: green"></i>
										</button>
										<button class="categoryEditView" type="button" onclick="cancelCategoryEdit(this)" style="display: none">
											<i class="fa fa-times-circle" style="color: red"></i>
										</button>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<!-- 修改categoryDetail -->
					<table width="100%" class="table table-striped table-bordered table-hover" id="categoryDetailDataTables">
						<thead>
							<tr>
								<th>項次</th>
								<th>分類</th>
								<th>分類細項內容</th>
								<th>操作</th>
								<th style="display: none"></th>
								<th style="display: none"></th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="categoryDetail,categoryDetailStat:${categoryDetailList}">
								<tr>
									<td th:text="${categoryDetailStat.index}+1"></td>
									<td class="categoryDetailListView" th:text="${categoryDetail.category.description}"></td>
									<td class="categoryDetailListView" th:text="${categoryDetail.description}"></td>
									<td class="categoryDetailEditView" style="display: none">
										<select class="editCategory">
											<option th:each="category:${categoryList}" th:value="${category.pkCategory}" th:text="${category.description}" th:selected="${category}==${categoryDetail.category}">
										</select>
									</td>
									<td class="categoryDetailEditView" style="display: none">
										<input class="editDescription" th:value="${categoryDetail.description}">
									</td>
									<td>
										<input class="editPkCategoryDetail" th:value="${categoryDetail.pkCategoryDetail}" style="display: none">
										<button class="categoryDetailListView" type="button" onclick="showCategoryDetailEditView(this)">
											<i class="fa fa-edit"></i>
										</button>
										<button class="categoryDetailListView" type="button" onclick="deleteCategoryDetail(this)">
											<i class="fa fa-trash"></i>
										</button>
										<button class="categoryDetailEditView" type="button" onclick="submitCategoryDetailEdit(this)" style="display: none">
											<i class="fa fa-check-circle" style="color: green"></i>
										</button>
										<button class="categoryDetailEditView" type="button" onclick="cancelCategoryDetailEdit(this)" style="display: none">
											<i class="fa fa-times-circle" style="color: red"></i>
										</button>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<!-- 更新分類 -->
					<form id="editCategoryForm" th:action="@{/updateCategory}" method="post" style="display: none" th:object="${category}">
						<input th:field="*{pkCategory}">
						<input th:field="*{description}">
					</form>
					<!-- 更新分類細項 -->
					<form id="editCategoryDetailForm" th:action="@{/updateCategoryDetail}" method="post" style="display: none" th:object="${categoryDetail}">
						<input th:field="*{pkCategoryDetail}">
						<input th:field="*{category}">
						<input th:field="*{description}">
					</form>
					<!-- /.table-responsive -->
				</div>
				<!-- Page-Level Demo Scripts - Tables - Use for reference -->
			</div>
		</div>
	</div>
</body>
</html>