<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>WorkItem</title>
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" />
<link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">
<link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">
<link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet" />
<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/dist/js/sb-admin-2.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
	function dateToYMD(date) {
		var d = date.getDate();
		var m = date.getMonth() + 1; //Month from 0 to 11
		var y = date.getFullYear() - 1911; //民國年
		return '' + y + '.' + (m <= 9 ? '0' + m : m) + '.' + (d <= 9 ? '0' + d : d);
	}

	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});

		$("#dayOffBtn").on("click", function() {
			$("#dayOffBtn").prop("disabled", true);
			var form = $("#workitemForm")[0];
			form.action = "/insertDayOff";
			form.submit();
		});

		$("#onBoardBtn1").on("click", function() {
			//上版文件撰寫與程式整合(107.12.19_evan)
			var userName = $("#pccDeveloper option:selected").text();
			var form = $("#workitemForm")[0];
			form.content.value = "上版文件撰寫與程式整合(" + dateToYMD(new Date()) + "_" + userName + ")";
		});

		$("#onBoardBtn2").on("click", function() {
			//至中華配合上版流程(107.12.19_evan)
			var userName = $("#pccDeveloper option:selected").text();
			var form = $("#workitemForm")[0];
			form.content.value = "至中華配合上版流程(" + dateToYMD(new Date()) + "_" + userName + ")";
		});

		$("#pccDeveloper").change(function() {
			setUserIdToCookie();
			window.location.href = "/";
		});

		setCategoryDetail(); //進入畫面先設定category與categoryDetail的選項
		$("#categoryDetail\\.category").change(function() {
			setCategoryDetail();
		});

		$(".editCategory").change(function() {
			setEditCategoryDetail(this);
		});

		//將UserId設進Cookie
		setUserIdToCookie();

	});

	/* set UserId to Cookie */
	function setUserIdToCookie() {
		var selectedUserId = $("#pccDeveloper").val();
		if (selectedUserId) {
			Cookies.set('userId', selectedUserId);
		} else {
			Cookies.set('userId', 1);
		}
	}

	/* 當選擇待辦事項時，設定待辦事項細項 */
	function setCategoryDetail() {
		var selectedCText = $("#categoryDetail\\.category").find("option:selected").text();
		$("#categoryDetail > option").hide();
		$("#categoryDetail > option").filter(function() {
			return $(this).attr("class") == selectedCText
		}).show();
		$("#categoryDetail > option").each(function() {
			if ($(this).css("display") !== 'none') {
				$("#categoryDetail").val($(this).val());
				return false;
			} else {
				$("#categoryDetail").val('');
			}
		});
	}

	/* 當編輯待辦事項時，設定待辦事項細項 */
	function setEditCategoryDetail(e) {
		var curTr = $(e).parent().parent();
		var selectedCText = curTr.find(".editCategory option:selected").text();
		curTr.find(".editCategoryDetail > option").hide();
		curTr.find(".editCategoryDetail > option").filter(function() {
			return $(this).attr("class") == selectedCText
		}).show();
		curTr.find(".editCategoryDetail > option").each(function() {
			if ($(this).css("display") !== 'none') {
				curTr.find(".editCategoryDetail").val($(this).val());
				return false;
			} else {
				curTr.find(".editCategoryDetail").val('');
			}
		});
	}

	function showItemEditView(e) {
		$(".itemEditView").hide();
		$(".itemListView").show();
		var editRow = $(e).parent().parent();
		editRow.find(".itemEditView").show();
		editRow.find(".itemListView").hide();
		setEditCategoryDetail(e);
	}

	function deleteItem(e) {
		$(e).prop('disabled', true);
		var editRow = $(e).parent().parent();
		var editForm = document.forms["editWorkitemForm"];
		// pkItem
		var pkItem = editRow.find(".editPkItem").val();
		editForm.action = "/deleteItem";
		editForm['pkItem'].value = pkItem;
		editForm.submit();
	}

	function submitItemEdit(e) {
		$(e).prop('disabled', true);
		var editRow = $(e).parent().parent();
		// pkItem
		var pkItem = editRow.find(".editPkItem").val();
		//pccDeveloper
		var pccDeveloperVal = editRow.find(".editPccDeveloper").val();
		//category
		var categoryVal = editRow.find(".editCategory").val();
		//categoryDetail
		var categoryDetailVal = editRow.find(".editCategoryDetail").val();
		//content
		var contentVal = editRow.find(".editContent").val();
		//workTime
		var workTimeVal = editRow.find(".editWorkTime").val();
		var editForm = document.forms["editWorkitemForm"];
		editForm['pkItem'].value = pkItem;
		editForm['pccDeveloper'].value = pccDeveloperVal;
		editForm['category'].value = categoryVal;
		editForm['categoryDetail'].value = categoryDetailVal;
		editForm['content'].value = contentVal;
		editForm['workTime'].value = workTimeVal;
		editForm.submit();
	}

	function cancelItemEdit(e) {
		var editRow = $(e).parent().parent();
		editRow.find(".itemEditView").hide();
		editRow.find(".itemListView").show();
	}

	function copyToClipboard(containerid) {
		// Create a new textarea element and give it id='tempDeveloper_element'
		var textarea = document.createElement('textarea')
		textarea.id = 'temp_element'
		// Optional step to make less noise on the page, if any!
		textarea.style.height = 0
		// Now append it to your page somewhere, I chose <body>
		document.body.appendChild(textarea)
		// Give our textarea a value of whatever inside the div of id=containerid
		textarea.value = document.getElementById(containerid).innerText
		// Now copy whatever inside the textarea to clipboard
		var selector = document.querySelector('#temp_element')
		selector.select()
		document.execCommand('copy')
		// Remove the textarea
		document.body.removeChild(textarea)
	}

	function downloadFile() {
		window.location.href = "/downLoadFile";
	}
</script>
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div th:replace="fragments/header :: header"></div>
			<div th:replace="fragments/sidebar :: sidebar"></div>
		</nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">工作項目管理</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="well">
						<form role="form" id="workitemForm" th:action="@{/addWorkItems}" th:object="${item}" method="post">
							<div class="row">
								<div class="form-group col-lg-2">
									<select class="form-control" id="pccDeveloper" name="pccDeveloper">
										<option th:each="pccDeveloper:${pccDeveloperList}" th:value="${pccDeveloper.pkPccDeveloper}" th:text="${pccDeveloper.name}" th:selected="(${pccDeveloper}==${selectedPccDeveloper})">...</option>
									</select>
								</div>
								<div class="form-group col-lg-2">
									<select class="form-control" th:field="*{categoryDetail.category}">
										<option th:each="category:${categoryWODayOffList}" th:value="${category.pkCategory}" th:text="${category.description}">...</option>
									</select>
								</div>
								<div class="form-group col-lg-3">
									<select class="form-control" th:field="*{categoryDetail}">
										<option th:classappend="${categoryDetail.category.description}" th:each="categoryDetail:${categoryDetailWODayOffList}" th:value="${categoryDetail.pkCategoryDetail}" th:text="${categoryDetail.description}">...</option>
									</select>
								</div>
								<div class="form-group col-lg-4">
									<input class="form-control" th:field="*{content}" placeholder="請輸入工作內容">
								</div>
								<div class="form-group input-group col-lg-1">
									<span class="input-group-addon">@</span> <input class="form-control" th:field="*{workTime}">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6">
									上次開工作項目的時間是：<span th:text="${#dates.format(lastDate, 'yyyy-MM-dd')}"></span> 今天是：<span th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span> <br> 還剩下<span style="color: red" th:text="${hourLeft}"></span>個小時要填 <span style="color: green;">&nbsp;&nbsp;*如有休假只需填入時數即可</span>
								</div>
								<div class="form-group col-lg-6 text-right">
									<!-- 									<button type="button" id="setUserBtn" class="btn btn-info">設定使用者</button> -->
									<button type="button" id="onBoardBtn1" class="btn btn-info">上版文件</button>
									<button type="button" id="onBoardBtn2" class="btn btn-info">上版流程</button>
									<button type="button" id="dayOffBtn" class="btn btn-success">休假</button>
									<button type="submit" class="btn btn-default" onclick="setUserIdToCookie();">送出</button>
									<button type="reset" class="btn btn-default">重設</button>
								</div>
							</div>
							<div class="row">
								<div style="white-space: pre;" id="copyArea" class="form-group col-lg-10" th:text="${copyString}"></div>
								<div class="form-group col-lg-2 text-right">
									<button class="btn" type="button" onclick="copyToClipboard('copyArea')">
										<i class="fa fa-copy" style="color: grey"></i>
									</button>
									<button class="btn" type="button" onclick="downloadFile()">
										<i class="fa fa-download" style="color: grey"></i>
									</button>
								</div>
							</div>
							<br>
							<ul th:if="${not #lists.isEmpty(errorMsg)}">
								<li style="color: red" th:each="err:${errorMsg}" th:text="${err}">Input is incorrect</li>
							</ul>
						</form>
					</div>
					<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>使用者</th>
								<th>分類</th>
								<th>分類細項</th>
								<th>內容</th>
								<th>時數</th>
								<th>時間</th>
								<th>操作</th>
								<th style="display: none"></th>
								<th style="display: none"></th>
								<th style="display: none"></th>
								<th style="display: none"></th>
								<th style="display: none"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item,itemStat:${itemList}">
								<td class="itemListView" th:text="${item.pccDeveloper.name}"></td>
								<td class="itemListView" th:text="${item.categoryDetail.category.description}"></td>
								<td class="itemListView" th:text="${item.categoryDetail.description}"></td>
								<td class="itemListView" th:text="${item.content}"></td>
								<td class="itemListView" th:text="${item.workTime}"></td>
								<td class="itemEditView" style="display: none"><select class="form-control editPccDeveloper">
										<option th:each="pccDeveloper:${pccDeveloperList}" th:value="${pccDeveloper.pkPccDeveloper}" th:text="${pccDeveloper.name}" th:selected="${pccDeveloper}==${item.pccDeveloper}"></option>
								</select></td>
								<td class="itemEditView" style="display: none"><select class="form-control editCategory">
										<option th:each="category:${categoryAllList}" th:value="${category.pkCategory}" th:text="${category.description}" th:selected="${category}==${item.categoryDetail.category}">...</option>
								</select></td>
								<td class="itemEditView" style="display: none"><select class="form-control editCategoryDetail">
										<option th:each="categoryDetail:${categoryDetailAllList}" th:classappend="${categoryDetail.category.description}" th:value="${categoryDetail.pkCategoryDetail}" th:text="${categoryDetail.description}" th:selected="${categoryDetail}==${item.categoryDetail}">...</option>
								</select></td>
								<td class="itemEditView" style="display: none"><input class="editContent" th:value="${item.content}"></td>
								<td class="itemEditView" style="display: none"><input class="editWorkTime" th:value="${item.workTime}"></td>
								<td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}"></td>
								<td><input class="editPkItem" th:value="${item.pkItem}" style="display: none" readonly>
									<button class="itemListView" type="button" onclick="showItemEditView(this)">
										<i class="fa fa-edit"></i>
									</button>
									<button class="itemListView" type="button" onclick="deleteItem(this)">
										<i class="fa fa-trash"></i>
									</button>
									<button class="itemEditView" type="button" onclick="submitItemEdit(this)" style="display: none">
										<i class="fa fa-check-circle" style="color: green"></i>
									</button>
									<button class="itemEditView" type="button" onclick="cancelItemEdit(this)" style="display: none">
										<i class="fa fa-times-circle" style="color: red"></i>
									</button></td>
							</tr>
						</tbody>
						<!-- /.table-responsive -->
					</table>
					<form id="editWorkitemForm" th:action="@{/updateItem}" method="post" style="display: none">
						<input name="pkItem"> <input name="pccDeveloper"> <input name="category"> <input name="categoryDetail"> <input name="content"> <input name="workTime">
					</form>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row-->
			</div>
			<!-- page-wrapper-->
		</div>
	</div>
</body>
</html>