<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>WorkItem</title>
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" />
<link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet">
<link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet">
<link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet" />
<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/dist/js/sb-admin-2.js}"></script>
<script>
	$(document).ready(function() {
		$('#dataTables-example').DataTable({
			responsive : true
		});
	});

	function showPccDeveloperEditView(e) {
		console.log("aa");
		$(".pccDeveloperEditView").hide();
		$(".pccDeveloperListView").show();
		var editRow = $(e).parent().parent();
		editRow.find(".pccDeveloperEditView").show();
		editRow.find(".pccDeveloperListView").hide();
	}

	function deletePccDeveloper(e) {
		$(e).prop('disabled', true);
		var editRow = $(e).parent().parent();
		var editForm = document.forms["editPccDeveloperForm"];
		// pkPccDeveloper
		var pkPccDeveloper = editRow.find("input[name='pkPccDeveloper']").val();
		editForm.action = "/deletePccDeveloper";
		editForm['pkPccDeveloper'].value = pkPccDeveloper;
		editForm.submit();
	}

	function submitPccDeveloperEdit(e) {
		$(e).prop('disabled', true);

		var editRow = $(e).parent().parent();
		// pkPccDeveloper
		var pkPccDeveloper = editRow.find("input[name='pkPccDeveloper']").val();
		//name
		var nameVal = editRow.find("input[name='name']").val();
		//email
		var emailVal = editRow.find("input[name='email']").val();
		var editForm = document.forms["editPccDeveloperForm"];
		editForm['pkPccDeveloper'].value = pkPccDeveloper;
		editForm['name'].value = nameVal;
		editForm['email'].value = emailVal;
		editForm.submit();
	}

	function cancelPccDeveloperEdit(e) {
		var editRow = $(e).parent().parent();
		editRow.find(".pccDeveloperEditView").hide();
		editRow.find(".pccDeveloperListView").show();
	}
</script>
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div th:replace="fragments/header :: header"></div>
			<div th:replace="fragments/sidebar :: sidebar"></div>
		</nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">成員管理</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="well">
							<form role="form" th:action="@{/addPccDeveloper}" th:object="${pccDeveloper}">
								<div class="row">
									<div class="form-group col-lg-4">
										<input class="form-control" th:field="*{name}" placeholder="請輸入名字">
									</div>
									<div class="form-group col-lg-6">
										<input class="form-control" th:field="*{email}" placeholder="請輸入email">
									</div>
									<div class="form-group col-lg-2 text-right">
										<button type="submit" class="btn btn-default">送出</button>
										<button type="reset" class="btn btn-default">重設</button>
									</div>
									<br>
									<ul th:if="${not #lists.isEmpty(errorMsg)}">
										<li style="color: red" th:each="err:${errorMsg}" th:text="${err}">Input is incorrect</li>
									</ul>
								</div>
							</form>
						</div>
						<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>項次</th>
									<th>名稱</th>
									<th>Email</th>
									<th>操作</th>
									<th style="display: none"></th>
									<th style="display: none"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="pccDeveloper,pccDeveloperStat:${pccDeveloperList}">
									<tr>
										<td th:text="${pccDeveloperStat.index}+1"></td>
										<td class="pccDeveloperListView" th:text="${pccDeveloper.name}"></td>
										<td class="pccDeveloperListView" th:text="${pccDeveloper.email}">...</td>
										<td class="pccDeveloperEditView" style="display:none">
											<input name="name" th:value="${pccDeveloper.name}">
										</td>
										<td class="pccDeveloperEditView" style="display:none">
											<input name="email" th:value="${pccDeveloper.email}">
										</td>
										<td>
											<input name="pkPccDeveloper" th:value="${pccDeveloper.pkPccDeveloper}" style="display:none">
											<button class="pccDeveloperListView" type="button" onclick="showPccDeveloperEditView(this)">
												<i class="fa fa-edit"></i>
											</button>
											<button class="pccDeveloperListView" type="button" onclick="deletePccDeveloper(this)">
												<i class="fa fa-trash"></i>
											</button>
											<button class="pccDeveloperEditView" type="button" onclick="submitPccDeveloperEdit(this)" style="display: none">
												<i class="fa fa-check-circle" style="color: green"></i>
											</button>
											<button class="pccDeveloperEditView" type="button" onclick="cancelPccDeveloperEdit(this)" style="display: none">
												<i class="fa fa-times-circle" style="color: red"></i>
											</button>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
						<form id="editPccDeveloperForm" th:action="@{/updatePccDeveloper}" method="post" style="display:none" >
							<input name="pkPccDeveloper">
							<input name="name">
							<input name="email">
						</form>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- page-wrapper-->
			</div>
		</div>
	</div>
</body>
</html>